@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Lora:ital,wght@0,400..700;1,400..700&family=Mountains+of+Christmas:wght@400;700&family=REM&family=Roboto+Slab:wght@300&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Lora:ital,wght@0,400..700;1,400..700&family=Manrope:wght@200..800&family=Mountains+of+Christmas:wght@400;700&family=REM&family=Roboto+Slab:wght@300&display=swap");

@import "tailwindcss";

@theme {
  --font-lora: "Lora", serif;
}

@theme {
  --font-manrope: "Manrope", sans-serif;
}

html {
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  scroll-behavior: smooth;
}
body {
  margin: 0;
  overflow-x: hidden;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  margin: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #2e37a4;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:horizontal {
  background: #ffffff8f;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #2e37a4;
}
::-webkit-scrollbar-thumb:horizontal:hover {
  background: #fff;
  border-radius: 10px;
}

.bg-pan {
  animation: background-pan 8s linear infinite;
  background: linear-gradient(90deg, #fff, #48bdff, #115fb8, #48bdff, #fff);
  -webkit-background-clip: text;
  background-clip: text;
  background-size: 200%;
  -webkit-text-fill-color: transparent;
}
@keyframes background-pan {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 100%;
  }
}
.logo {
  width: 100%;
  height: 60px;
}

@media only screen and (max-width: 600px) {
  .logo {
    display: none;
  }
}

.move {
  width: 100%;
  height: 60px;
  animation: mymove 4s infinite;
}
@keyframes mymove {
  50% {
    transform: rotateY(180deg);
  }
}
